@model Skynet1.Models.Employee

@{
    ViewBag.Title = "Delete Employee";
}

<h2>Удаление сотрудника</h2>

<h3>Вы уверены что хотите удалить сотрудника</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEmployee)
        </dd>
        
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
