@model Skynet1.Models.Employee

@{
    ViewBag.Title = "Edit Employee";
}

<h2>Изменение сотрудника</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="EmployeeId" />

            <div class="mb-3">
                <label asp-for="NameEmployee" class="form-label">Имя</label>
                <input asp-for="NameEmployee" class="form-control" />
                <span asp-validation-for="NameEmployee" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Почта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Номер телефона</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="RolId" class="form-label">Должность</label>
                <input asp-for="RolId" class="form-control" />
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>
